[Unit]
Description=Relay Manager Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/niquist
ExecStart=/home/niquist/relaymanager-bin
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
